#background {
  fill: #111111
}
#clock {
  transform: translate(150,150);
}
g#text {
  fill: #dedede;
  opacity: 0.75;
  font-size: 20;
}
#date-container {
  transform: translate(-140,6);
}
#steps-container {
  transform: translate(118,6);
}
#steps-container image {
  fill: #dedede;
  opacity: 1;
}
#hands {
  transform: rotate(-90);
  fill: #dedede;
}

#marks {
  fill: #dedede;
}
.mark {
  stroke-width: 2;
}
#m1 {
  transform: rotate(30);
}
#m2 {
  transform: rotate(60);
}
#m3 {
  transform: rotate(90);
}
#m3 line {
  stroke-width: 4;
}
#m4 {
  transform: rotate(120);
}
#m5 {
  transform: rotate(150);
}
#m6 {
  transform: rotate(180);
}
#m6 line {
  stroke-width: 4;
}
#m7 {
  transform: rotate(210);
}
#m8 {
  transform: rotate(240);
}
#m9 {
  transform: rotate(270);
}
#m9 line {
  stroke-width: 4;
}
#m10 {
  transform: rotate(300);
}
#m11 {
  transform: rotate(330);
}
#m12 {
  transform: rotate(360);
}
#m12 line {
  stroke-width: 4;
}

#second-hand line {
  stroke-width: 2;
}
#minute-hand line {
  stroke-width: 4;
}
#hour-hand line {
  stroke-width: 7;
}
#pin-inner {
  fill:#111111;
  stroke-width: 2;
}
#pin-outer {
  fill: #dedede;
  stroke-width: 2;
}
