#background {
  fill: #080808
}
#clock {
  transform: translate(150,150);
}

#marks circle {
  fill: #535353;
}
#marks line {
  fill: #BABABA;
  stroke-width: 6;
  stroke-linecap: round;
}
#marks .text-group {
  fill: #BABABA;
  opacity: 0.75;
  font-size: 20;
}
#marks .text-group text {
  text-length: 32;
}

#hands {
  transform: rotate(-90);
  fill: #BABABA;
}
#hands line {
  stroke-linecap: round;
}
#second line {
  stroke-width: 4;
}
#minute line {
  stroke-width: 4;
}
#hour line {
  stroke-width: 8;
}
